REG_RU_CLOUD_TOKEN=replace-with-reg-ru-cloud-token
REG_RU_REGION=openstack-spb1
REG_RU_SERVER_NAME=myclouddiplom
REG_RU_SIZE=c1-m1-d10-base
REG_RU_IMAGE=ubuntu-24-04-amd64
REG_RU_SSH_KEY=replace-after-add-key
